body{
    text-align: center;
    background-color: rgb(243,243,243);
    font-family: sans-serif;
    min-width: 400px;
}

main{
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

article{
    margin: 32px auto 0;
    display: flex;
    text-align: center;
    align-items: center;
    border: 0;
    padding: 0;

}

.instagram-phone{
    background-image: url(img/iphoneInstagram.png);
    background-size: 454px 618px;
    width: 454px;
    height: 618px;
    align-self: center;
}

.instagram-img-list{
    width: 0;
    height: 0;
    margin: 99px 0 0 151px;
    position: relative;
}

.photo{
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes animacao{
    20%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.photo:nth-child(1){
    animation-delay: 5s
}
.photo:nth-child(2){
    animation-delay: 10s
}
.photo:nth-child(3){
    animation-delay: 15s
}
.photo:nth-child(4){
    animation-delay: 20s
}


.instagram-img-list img:first-child{
    transition: 1s;
}

.instagram-group{
    max-width: 350px;
    justify-content: center;
}

.instagram-continue{
    background-color: white;
    border: 1px solid rgb(219,219,219);
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 21px 0;
    width: auto;
    height: auto;
}

.instagram-logo img{
    width: 200px;
    height: 70px;
    margin-bottom: 15px;
    
}


.instagram-img-profile img{
    border-radius: 50%;
    width: 30%;
}

.instagram-continue button{    
    cursor: pointer;
    font-weight: 600;
    padding: 7px 20px;
    text-align: center;
    color: white;
    background-color: #0095f6;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 30px;
    font-size: 14px;
    
}

.instagram-continue span{
    font-size: 14px;
    padding: 20px;
}
.instagram-continue a{
    color: #0095f6;
    text-decoration: none;
}

.instagram-app{
    font-weight: bold;
    margin-top: 15px;
}

.instagram-app-logo img{
    padding-top: 10px;
    margin: 0;
    width: 40%;
    height: 40%;
}

footer{
    margin-top: 100px;
}

footer a, p{
    text-decoration: none;
    color: rgb(163, 163, 163);
    padding: 10px;
    font-size: 11px;
}

.footer-2-line{
    margin-top: 5px;
}

.footer-3-line{
    margin: 10px
}

@media screen and (max-width: 850px){
   
    .instagram-phone, .instagram-img-list{
        width: 0;
        height: 0;
        background-image: none;
        margin: 0;
        opacity: 0;
    }
}