body{
    text-align: center;
    background-color: rgb(243,243,243);
    font-family: sans-serif;
}

main{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

article{
    margin: 32px auto 0;
    display: flex;
    text-align: center;
    align-items: center;
    border: 0;
    padding: 0;

}

.instagram-phone{
    background-image: url(img/iphoneInstagram.png);
    background-size: 454px 618px;
    width: 454px;
    height: 618px;
    align-self: center;
}

.instagram-img-list{
    width: 0;
    height: 0;
    margin: 99px 0 0 151px;
    position: relative;
}

.instagram-img-list img{
    opacity: 1;
}

.instagram-group{
    max-width: 350px;
    justify-content: center;
}

.instagram-continue{
    background-color: white;
    border: 1px solid rgb(219,219,219);
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 21px 0;
    width: auto;
    height: auto;
}

.instagram-logo img{
    width: 200px;
    height: 70px;
    margin-bottom: 15px;
    
}


.instagram-img-profile img{
    border-radius: 50%;
    width: 30%;
}

.instagram-continue button{    
    cursor: pointer;
    font-weight: 600;
    padding: 7px 20px;
    text-align: center;
    color: white;
    background-color: #0095f6;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 30px;
    font-size: 14px;
    
}

.instagram-continue span{
    font-size: 14px;
    padding: 20px;
}
.instagram-continue a{
    color: #0095f6;
    text-decoration: none;
}

.instagram-app{
    font-weight: bold;
    margin-top: 15px;
}

.instagram-app-logo img{
    padding-top: 10px;
    margin: 0;
    width: 40%;
    height: 40%;
}